html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 20, 20);
    color: rgb(230, 230, 230);
}

.main-page {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "header header"
        "left right"
        "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(40, 30, 30);
}

.left {
    grid-area: left;
    margin-left: 30px;
    padding: 15px;
    background-color: rgb(40, 30, 30);
}

.right {
    grid-area: right;
    margin-right: 30px;
    padding: 15px;
    background-color: rgb(40, 30, 30);

}

footer {
    grid-area: footer;
    text-align: center;
    background-color: rgb(40, 30, 30);
}

header > h1 {
    font-family: Arial;
    text-align: center;
}